.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.custom-logo {
  height: 10px; /* Vous pouvez ajuster la hauteur en pixels selon vos besoins */
  height: auto;
}
.small-logo {
  width: 100px; /* Adjust the width as per your requirement */
  height: auto; /* This will maintain the aspect ratio */
  /* You can also set a specific height if needed, e.g., height: 30px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
